@media only screen and (max-width: 600px) {
    .menu{
        padding: 10px;
        margin-left: 10px;
        
    }
    .food{
        font-size: 2rem;
        margin: 2px;
        padding: 2px;
    }
    .explore{
        font-size: 20px;
        margin: 2px;
        padding: 2px;
    }
.order{
    justify-content: center;
    margin-left: 100px;
}
  }